:root {
  --font: "Roboto", sans-serif;
  --color-dark: #2e2f42;
  --color-light: #fff;
  --color-alt: #f4f4fd;
  --color-accent: #4d5ae5;
  --color-active: #404bbf;
  --color-text-light: #e7e9fc;
  --color-text-dark: #434455;
  --font-heavy: 900;
  --font-black: 800;
  --font-bold: 700;
  --font-medium: 500;
  --font-regular: 400;
  --font-size-h1: 56px;
  --font-size-h2: 36px;
  --font-size-h3: 20px;
  --font-size-big: 18px;
  --font-size-normal: 16px;
  --font-size-small: 12px;

  /* --color-text-modal: #8e8f99; */

  /* --color-bgd-hero: rgba(46, 47, 66, 0.7); */

  /* --color-bgd-modal: rgba(46, 47, 66, 0.4); */

  /* --color-bgd-valid: #31d0aa; */
}

body {
  color: var(--color-text-dark);
  font-size: var(--font-size-normal);
  font-family: var(--font);
  background-color: var(--color-light);
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.logo {
  color: var(--color-accent);
  font-weight: var(--font-black);
  font-size: var(--font-size-big);
  font-family: Raleway, sans-serif;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/***************** HOME ******************/

/* =============== HEADER =============== */
.header {
  border-bottom: 1px solid var(--color-text-light);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-section .logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-header {
  color: var(--color-dark);
}

.nav-section {
  display: flex;
  gap: 76px;
  align-items: center;
}

.nav {
  display: flex;
  gap: 40px;
}

.nav-link {
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--color-dark);
  font-weight: var(--font-medium);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.activ,
.nav-link:is(:hover, :focus) {
  color: var(--color-active);
}

.address {
  display: flex;
  gap: 40px;
}

.address-link {
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--color-text-dark);
  font-weight: var(--font-regular);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-link:is(:hover, :focus) {
  color: var(--color-active);
}

.activ {
  color: var(--color-active);
  border-bottom: 4px solid var(--color-active);
}

/* =============== HERO =============== */
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--color-dark);
}

.hero-title {
  max-width: 500px;
  margin: 0 auto;
  color: var(--color-light);
  font-weight: var(--font-bold);
  font-size: var(--font-size-h1);
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-btn {
  display: block;
  margin: 48px auto 0;
  padding: 16px 32px;
  color: var(--color-light);
  font-weight: var(--font-medium);
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--color-accent);
  border-radius: 4px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
}

.hero-btn:is(:hover, :focus) {
  background-color: var(--color-active);
}

/* =============== SKILLS =============== */
.skills {
  padding-top: 120px;
  padding-bottom: 120px;
}

.skills-list {
  display: flex;
  gap: 24px;
}

.skills-subtitle {
  margin-bottom: 8px;
  color: var(--color-dark);
  font-weight: var(--font-medium);
  font-size: var(--font-size-h3);
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.skills-item {
  flex-basis: calc((100% - 48px) / 4);
}

.skills-text {
  font-weight: var(--font-regular);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* =============== DOING =============== */
.doing {
  padding-bottom: 120px;
}

.doing-title {
  margin-bottom: 72px;
  color: var(--color-dark);
  font-weight: var(--font-bold);
  font-size: var(--font-size-h2);
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.doing-list {
  display: flex;
  gap: 24px;
}

/* =============== TEAM =============== */
.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--color-alt);
}

.team-title {
  margin-bottom: 72px;
  color: var(--color-dark);
  font-weight: var(--font-bold);
  font-size: var(--font-size-h2);
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-content {
  padding: 32px 16px;
}

.team-subtitle {
  margin-bottom: 8px;
  color: var(--color-dark);
  font-weight: var(--font-medium);
  font-size: var(--font-size-h3);
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-item {
  flex-basis: calc((100% - 48px) / 4);
  background-color: var(--color-light);
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 1px 6px rgb(46 47 66 / 8%),
    0 1px 1px rgb(46 47 66 / 16%),
    0 2px 1px rgb(46 47 66 / 8%);
}

.team-text {
  font-weight: var(--font-regular);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* =============== FOOTER =============== */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--color-dark);
}

.footer-content {
  max-width: 264px;
}

.logo-footer {
  color: var(--color-alt);
}

.footer-text {
  margin-top: 16px;
  color: var(--color-text-light);
  font-weight: var(--font-regular);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/***************** PORTFOLIO ******************/
.work {
  padding-top: 96px;
  padding-bottom: 96px;
}

.work-list-btn {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.work-btn {
  padding: 12px 24px;
  color: var(--color-accent);
  font-weight: var(--font-medium);
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--color-alt);
  border: 1px solid var(--color-text-light);
  border-radius: 4px;
}

.work-btn:is(:hover, :focus) {
  color: var(--color-light);
  background-color: var(--color-active);
  border: 1px solid var(--color-active);
  box-shadow:
    0 3px 1px rgb(0 0 0 / 10%),
    0 2px 1px rgb(0 0 0 / 8%),
    0 2px 2px rgb(0 0 0 / 12%);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin-bottom: 24px;
}

.work-item {
  flex-basis: calc((100% - 48px) / 3);
}

.work-link img {
  background: linear-gradient(0deg, rgb(77 90 229 / 10%), rgb(77 90 229 / 10%));
}

.work-content {
  padding: 32px 16px;
  border: 1px solid var(--color-text-light);
  border-top: none;
}

.work-subtitle {
  margin-bottom: 8px;
  color: var(--color-dark);
  font-weight: var(--font-medium);
  font-size: var(--font-size-h3);
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.work-subtitle:is(:hover, :focus) {
  color: var(--color-active);
}

.work-text {
  color: var(--color-text-dark);
  font-weight: var(--font-regular);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.work-text:is(:hover, :focus) {
  color: var(--color-active);
}
