:root {
  --font: "Roboto", sans-serif;
  --color-dark: #2e2f42;
  --color-light: #fff;
  --color-alt: #f4f4fd;
  --color-accent: #4d5ae5;
  --color-active: #404bbf;
  --color-text-light: #e7e9fc;
  --color-text-dark: #434455;
  --font-heavy: 900;
  --font-black: 800;
  --font-bold: 700;
  --font-medium: 500;
  --font-regular: 400;
  --font-size-h1: 56px;
  --font-size-h2: 36px;
  --font-size-h3: 20px;
  --font-size-big: 18px;
  --font-size-normal: 16px;
  --font-size-small: 12px;
  --color-bgd-hero: rgb(46 47 66 / 70%);
  --color-modal: #8e8f99;
  --color-footer-active: #31d0aa;

  /* --color-bgd-modal: rgb(46 47 66 / 40%); */
}

body {
  background: var(--color-light);
  font: var(--font-size-normal) var(--font);
  color: var(--color-text-dark);
}

.container {
  margin: 0 auto;
  max-width: 1158px;
  width: 100%;
  padding: 0 15px;
}

.hidden {
  position: absolute;
  border: 0;
  margin: -1px;
  height: 1px;
  width: 1px;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.logo {
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font: var(--font-black) var(--font-size-big)/1.33 Raleway, sans-serif;
  color: var(--color-accent);
}

/***************** HOME ******************/

/* =============== HEADER =============== */
.header {
  border-bottom: 1px solid var(--color-text-light);
  box-shadow:
    0 2px 1px rgb(46 47 66 / 8%),
    0 1px 1px rgb(46 47 66 / 16%),
    0 1px 6px rgb(46 47 66 / 8%);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-section .logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-header {
  color: var(--color-dark);
}

.nav-section {
  display: flex;
  align-items: center;
  gap: 76px;
}

.nav {
  display: flex;
  height: 100%;
  gap: 40px;
}

.nav-link {
  padding-top: 24px;
  padding-bottom: 24px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: var(--font-medium);
  color: var(--color-dark);
}

.active,
.nav-link:is(:hover, :focus) {
  color: var(--color-active);
}

.address {
  display: flex;
  gap: 40px;
}

.address-link {
  padding-top: 24px;
  padding-bottom: 24px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: var(--font-regular);
  color: var(--color-text-dark);
}

.address-link:is(:hover, :focus) {
  color: var(--color-active);
}

.active {
  border-bottom: 4px solid var(--color-active);
  color: var(--color-active);
}

/* =============== HERO =============== */
.hero {
  background:
    linear-gradient(
      var(--color-bgd-hero),
      var(--color-bgd-hero)
    ),
    url("../images/home/hero/people-office.jpg") 50% 0/cover var(--color-dark);
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  margin: 0 auto;
  max-width: 500px;
  letter-spacing: 0.02em;
  font-size: var(--font-size-h1);
  line-height: 1.07;
  font-weight: var(--font-bold);
  color: var(--color-light);
  text-align: center;
}

.hero-btn {
  display: block;
  border-radius: 4px;
  margin: 48px auto 0;
  background: var(--color-accent);
  padding: 16px 32px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-weight: var(--font-medium);
  color: var(--color-light);
  box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
}

.hero-btn:is(:hover, :focus) {
  background: var(--color-active);
}

/* =============== SKILLS =============== */
.skills {
  padding-top: 120px;
  padding-bottom: 120px;
}

.skills-list {
  display: flex;
  gap: 24px;
}

.skills-subtitle {
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  font-size: var(--font-size-h3);
  line-height: 1.2;
  font-weight: var(--font-medium);
  color: var(--color-dark);
}

.skills-item {
  flex-basis: calc((100% - 48px) / 4);
}

.skills-item::before {
  content: "";
  display: block;
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: var(--color-alt);
  background-position: center;
  background-size: 64px;
  background-repeat: no-repeat;
  height: 112px;
}

.skills-item:nth-child(1)::before {
  background-image: url("../sprite.svg#icon-antenna");
}

.skills-item:nth-child(2)::before {
  background-image: url("../sprite.svg#icon-clock");
}

.skills-item:nth-child(3)::before {
  background-image: url("../sprite.svg#icon-diagram");
}

.skills-item:nth-child(4)::before {
  background-image: url("../sprite.svg#icon-astronaut");
}

.skills-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: var(--font-regular);
}

/* =============== DOING =============== */
.doing {
  padding-bottom: 120px;
}

.doing-title {
  margin-bottom: 72px;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  font-size: var(--font-size-h2);
  line-height: 1.11;
  font-weight: var(--font-bold);
  color: var(--color-dark);
  text-align: center;
}

.doing-list {
  display: flex;
  gap: 24px;
}

.doing-item {
  border: 1px solid #e7e9fc;
  background:
    linear-gradient(
      rgb(77 90 229 / 10%),
      rgb(77 90 229 / 10%)
    ),
    url();
  background-blend-mode: soft-light, normal;
}

/* =============== TEAM =============== */
.team {
  background: var(--color-alt);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  margin-bottom: 72px;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  font-size: var(--font-size-h2);
  line-height: 1.11;
  font-weight: var(--font-bold);
  color: var(--color-dark);
  text-align: center;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-content {
  padding: 32px 16px;
}

.team-subtitle {
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  font-size: var(--font-size-h3);
  line-height: 1.2;
  font-weight: var(--font-medium);
  color: var(--color-dark);
  text-align: center;
}

.team-item {
  flex-basis: calc((100% - 48px) / 4);
  border-radius: 0 0 4px 4px;
  background: var(--color-light);
  box-shadow:
    0 1px 6px rgb(46 47 66 / 8%),
    0 1px 1px rgb(46 47 66 / 16%),
    0 2px 1px rgb(46 47 66 / 8%);
}

.team-text {
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: var(--font-regular);
  text-align: center;
}

.team-social-list {
  display: flex;
  gap: 24px;
}

.team-social-item {
  display: block;
  border-radius: 50%;
  background-color: var(--color-accent);
  background-position: center;
  background-size: 16px;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

.team-social-item:nth-child(1) {
  background-image: url("../sprite.svg#icon-instagram");
}

.team-social-item:nth-child(2) {
  background-image: url("../sprite.svg#icon-twitter");
}

.team-social-item:nth-child(3) {
  background-image: url("../sprite.svg#icon-facebook");
}

.team-social-item:nth-child(4) {
  background-image: url("../sprite.svg#icon-linkedin");
}

.team-social-item:is(:hover, :focus) {
  background-color: var(--color-active);
}

.team-social-link {
  display: block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

/* =============== CUSTOMERS =============== */

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-title {
  margin-bottom: 72px;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  font-size: var(--font-size-h2);
  line-height: 1.11;
  font-weight: var(--font-bold);
  color: var(--color-dark);
  text-align: center;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  content: "";
  display: block;
  border: 1px solid var(--color-modal);
  border-radius: 4px;
  background-color: var(--color-alt);
  background-position: center;
  background-size: 64px;
  background-repeat: no-repeat;
  height: 112px;
}

.customers-item:nth-child(1) {
  background-image: url("../sprite.svg#icon-antenna");
}

.customers-item:nth-child(2) {
  background-image: url("../sprite.svg#icon-clock");
}

.customers-item:nth-child(3) {
  background-image: url("../sprite.svg#icon-diagram");
}

.customers-item:nth-child(4) {
  background-image: url("../sprite.svg#icon-astronaut");
}

.customers-item:nth-child(5) {
  background-image: url("../sprite.svg#icon-astronaut");
}

.customers-item:nth-child(6) {
  background-image: url("../sprite.svg#icon-astronaut");
}

.customers-item:is(:hover, :focus) {
  border: 1px solid var(--color-active);
}

/* .customers-logo {
  padding: 16px 32px;
} */

/* =============== FOOTER =============== */
.footer {
  background: var(--color-dark);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .container {
  display: flex;
}

.footer-content {
  margin-right: 120px;
  max-width: 264px;
}

.logo-footer {
  color: var(--color-alt);
}

.footer-text {
  margin-top: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: var(--font-regular);
  color: var(--color-text-light);
}

.footer-social-title {
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: var(--font-medium);
  color: var(--color-text-light);
}

.footer-social-list {
  display: flex;
  margin-top: 16px;
  gap: 24px;
}

.footer-social-item {
  display: block;
  border-radius: 50%;
  background-color: rgb(255 255 255 / 10%);
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

.footer-social-item:nth-child(1) {
  background-image: url("../sprite.svg#icon-instagram");
}

.footer-social-item:nth-child(2) {
  background-image: url("../sprite.svg#icon-twitter");
}

.footer-social-item:nth-child(3) {
  background-image: url("../sprite.svg#icon-facebook");
}

.footer-social-item:nth-child(4) {
  background-image: url("../sprite.svg#icon-linkedin");
}

.footer-social-item:is(:hover, :focus) {
  background-color: var(--color-footer-active);
}

.footer-social-link {
  display: block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

/***************** PORTFOLIO ******************/
.work {
  padding-top: 96px;
  padding-bottom: 96px;
}

.work-list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.work-btn {
  border: 1px solid var(--color-text-light);
  border-radius: 4px;
  background: var(--color-alt);
  padding: 12px 24px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-weight: var(--font-medium);
  color: var(--color-accent);
}

.work-btn:is(:hover, :focus) {
  background: var(--color-active);
  border: 1px solid var(--color-active);
  color: var(--color-light);
  box-shadow:
    0 3px 1px rgb(0 0 0 / 10%),
    0 2px 1px rgb(0 0 0 / 8%),
    0 2px 2px rgb(0 0 0 / 12%);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  gap: 48px 24px;
}

.work-item {
  flex-basis: calc((100% - 48px) / 3);
  border: 1px solid var(--color-text-light);
  box-shadow: 0 1px 6px rgb(46 47 66 / 8%);
}

.work-item:is(:hover, :focus) {
  border: 0.5px solid #f4f4fd;
  border: none;
  box-shadow:
    0 1px 6px rgb(46 47 66 / 8%),
    0 1px 1px rgb(46 47 66 / 16%),
    0 2px 1px rgb(46 47 66 / 8%);
}

.work-link img {
  background:
    linear-gradient(
      0deg,
      rgb(77 90 229 / 10%),
      rgb(77 90 229 / 10%)
    );
}

.work-content {
  padding: 32px 16px;
}

.work-subtitle {
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  font-size: var(--font-size-h3);
  line-height: 1.2;
  font-weight: var(--font-medium);
  color: var(--color-dark);
}

.work-subtitle:is(:hover, :focus) {
  color: var(--color-active);
}

.work-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: var(--font-regular);
  color: var(--color-text-dark);
}

.work-text:is(:hover, :focus) {
  color: var(--color-active);
}
